<% extends '../base.html' %>

<% subskin 'headScripts' %>
<script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/toggle.js"></script>

<% subskin 'content' %>
  <div id="heading">
    <h1><a href="show?id=<% id %>"><% title %></a></h1>
  </div>
</div>

<div id="main-content">
  <div id="article-content">
    <p class="article-meta-container">
      <small>
        <strong><% creatorName %></strong> @ <strong><% formattedCreateTime %></strong><br />
        <% adminTasks %>
      </small>
    </p>

    <% markdownedText %>
  </div>

  <a name="comments"></a>
  <h2><% commentsCountMsg | titleize %>&nbsp;&nbsp;<small><em><a href="<% href %>#addComment">Add &darr;</a></em></small></h2>
  <div id="commentsContainer">
    <% listComments %>
  </div>

  <% loginRegisterInfo %>
  <% addCommentForm %>
</div>

<% subskin 'adminTasks' %>
<strong>
  <a href="edit?id=<% id %>">&raquo; Edit this article</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="delete?id=<% id %>">&raquo; Delete this article</a>
</strong>

<% subskin 'commentListItem' %>
<a name="comment<% id %>"></a>
<h3><a href="#comment<% id %>">#<% itemNumber %></a>: <% creatorName %> @ <% formattedCreateTime %></h3>
<% markdownedText %>

<% subskin 'loginRegisterInfo' %>
<a name="addComment"></a>
<p>
  <strong>
    <a href="#">Back to top &uarr;</a>&nbsp;&nbsp;|&nbsp;
    <a href="/account/login">Login</a> or <a href="/account/register">register</a> for adding comments.
  </strong>
</p>

<% subskin 'addCommentForm' %>
<a name="addComment"></a>
<% message | wrap '<div id="message">' '</div>' %>

<p id="to-toggle" style="display: none;">
  <a href="http://daringfireball.net/projects/markdown/basics" target="_blank">Markdown</a> is a <a href="http://en.wikipedia.org/wiki/Lightweight_markup_language" target="_blank">lightweight markup language</a>, originally created by John Gruber and Aaron Swartz, which aims for maximum readability and "publishability" of both its input and output forms, taking many cues from existing conventions for marking up plain text in email.
</p>

<form action="/comments/create" method="post" accept-charset="utf-8">
  <input type="hidden" name="articleTargetId" value="<% id %>" id="articleTargetId" />

<div id='add-comment-container'>
  <p>
    <label for="text" id="add-comment-label">Comment:</label>
    <span id="add-comment-toggle-container">
      <small><em><a href="#" id="toggle">Some Markdown is fine.</a></em></small>
    </span><br />
    <textarea name="text" id="text" rows="9" cols="56"></textarea>
  </p>
</div>

  <p>
    <strong>
      <a href="#">Back to top &uarr;</a>&nbsp;
    </strong>
    <input type="submit" name="save" class="submit" value="Post" />
    
  </p>
</form>